
@{
    ViewBag.Title = "Register";
}

<h2>Rejestracja</h2>
<body>
<h6>Rejestracja jako:</h6>
    @Html.ActionLink("Pacjent", "RegisterPatient", "Account")
    @Html.ActionLink("Doctor", "RegisterDoctor", "Account")
</body>
