
@{
    ViewBag.Title = "Register";
}

<body>
<div class="form-group">
    <h3>Rejestracja jako:</h3>
    <ul>
        <li>@Html.ActionLink("Pacjent", "RegisterPatient", "Account")</li>
        <li>@Html.ActionLink("Doktor", "RegisterDoctor", "Account")</li>
    </ul>
</div>
</body>
